.cards {
    height: 75vh;
    overflow: auto;
}

::-webkit-input-placeholder {
    text-align: right;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}